.margin-left-20{
  margin-left:20px;
}
.padding{
  padding: 20px 10px 0 10px;
}
.field-border{
  border: 1px solid #ddd;
}
.button-margin{
  margin-top: 15px;
}
.age-padding{
  padding-bottom: 50px;
}
.gender-padding{
  padding: 15px 0 15px 0 !important;
}
.occupation-padding{
  padding-top: 8px !important;
}
.id-padding{
  padding-top: 18px !important;
}
.row-padding{
  padding-bottom: 10px !important;
}